[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
install = "*"
djangorestframework = "*"
djoser = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
dj-database-url = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
